

<p class="textAlignCenter large">
    Create a free account to see your detailed personality and interests reports.
</p>

<p class="textAlignCenter">
    <button class="btn btn-large btn-primary" id="ActionShowSignup">Sign Up</button>
</p>
