<div class="inner">

    <a class="logo" href="#">
        <h1>TidePool</h1>
    </a>

    <span id="StepsRemainingHolder"></span>

    {{#showNav}}
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#investors">Investors</a></li>
            </ul>
        </nav>
    {{/showNav}}

    {{#if loggedIn}}
        {{#if showUser}}
            <div class="loginArea">
                <button class="btn btn-clear btn-large dropdown-toggle">
                    <ul class="dropdown-menu">
                        {{#if isRegisteredUser }}
                        <li><a id="ActionShowProfile">
                            <i class="icon-user"></i>
                            Profile
                        </a></li>
                        {{/if}}
                        <li><a id="ActionLogOut">
                            <i class="icon-off"></i>
                            Log Out
                        </a></li>
                    </ul>
                    <i class="avatar">
                        {{#if imageUrl}}
                            <img src="{{imageUrl}}" alt="{{userName}}'s Avatar" />
                        {{/if}}
                    </i>
                    <span>{{userName}}</span>
                    <i class="icon-chevron-sign-down muted"></i>
                </button>
            </div>
        {{/if}}
    {{else}}
        <div class="loginArea">
            <button id="ActionShowLogin" class="btn btn-link btn-large" href="">
                <i class="icon-lock icon-large"></i>
                Log In
            </button>
        </div>
    {{/if}}

</div>




