@import '../bower_components/bourbon/app/assets/stylesheets/bourbon'
@import '../styles/appVars'
@import '../styles/colorVars'

.holdPlease
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: $highlightThick
  cursor: default

  [class^="icon-"]
    color: black
    @include animation(spin 1.2s ease-in-out infinite)
    @include transform-origin(50% 50%)
    text-shadow: 0 0 $space white
  [class^="icon-"].muted
    color: $colorQuiet

  .icon-large
    @include transform-origin(70% 50%)

  .icon-4x
    @include transform-origin(200% 150%)
    margin-left: -25px

  [class^="icon-"]
    position: absolute
    top: 50%
    left: 50%
    margin-left: -7px
    margin-top: -7px

  &.inline
    position: relative
    display: inline-block
    width: auto
    height: auto
    top: auto
    left: auto
    background: none
  &.inline [class^="icon-"]
    margin-left: -25px



// ----- When in other situations...
.btn .holdPlease .icon-large
  margin-top: -7px

.btn .holdPlease
  border-radius: $radiusSmall

// .onHold helper class is applied to the parent container to change any visuals we'd like to adjust there
.btn.onHold
  border-color: $highlight
