{{#if title}}
    <h3 class="title">
        {{title}}
    </h3>
{{else}}
    <h3 class="title spacer"></h3>
{{/if}}


<div class="pillHolder">
    {{#each levels}}
        <div
            class="step {{#isComplete}}completed{{/isComplete}}"
            title="{{ friendly_name }}"
        >
        </div>
    {{/each}}
</div>


