@import '../styles/_appVars.sass'
@import '../styles/_colorVars.sass'

.stepsRemaining
  position: relative
  display: inline-block
  box-sizing: border-box
  height: $space
  line-height: 0
  background: $colorBackground
  border: $spaceTiny solid $colorVeryQuiet
  padding: $spaceTiny
  border-radius: $space / 2
  vertical-align: middle
  font-size: 0 // decides amount of space between each step

  .step
    display: inline-block
    width: $spaceLil
    height: 100%
    background: $colorVeryQuiet
    margin-right: 1px
  .step.completed
    background: $colorGood
  .step:first-child
    border-bottom-left-radius: $space / 2
    border-top-left-radius: $space / 2
  .step:last-child
    border-bottom-right-radius: $space / 2
    border-top-right-radius: $space / 2

header .stepsRemaining
  margin-left: $spaceLil



// Sizing changes based on screen width
@media all and (min-width: 601px)
  .stepsRemaining
    font-size: $fontSizeBody
  .stepsRemaining .step
    width: $space
    border-radius: $radiusTiny
    margin-right: 0
@media all and (min-width: 1001px)
  .stepsRemaining .step
    width: $space + $spaceLil