<p>
    You are on a roll!
</p>
<p>
    In this next game, each circle represents a psychological trait.
</p>
<p>
    Collapse or expand each circle to show how well each trait describes you.
</p>
<p>
    Make sure to change the size of all five circles.
</p>






