<p>
    Here are a number of psychological traits that may or may not describe you.
</p>
<p>
    Simply collapse or expand each circle to indicate how well the trait describes you.
</p>
<p>
    You must change the size of all circles.
</p>