<div class="appTeaser">

    <div class="phoneHolder">

        <a href="https://itunes.apple.com/us/app/tidepool/id691052387?ls=1&mt=8" onclick="ga('send', 'event', {eventCategory: 'appStore', eventAction:'click'});">
            <img class="appIcon" src="@@buildDir/images/app_teaser/logo_appicon_2x.png" alt="Starfish App Icon"/>
        </a>

        <div class="phone">
            <b class="gloss fluff"></b>
            <b class="homeButton fluff"></b>
            <img class="phoneImg fluff" src="@@buildDir/images/app_teaser/iphonebase.png" alt="Image of iPhone"/>
            <div class="screen">
                <b class="statusBar"></b>
                <div class="contents">
                    <img src="@@buildDir/images/app_teaser/iphone-slide.jpg" alt="Image of iPhone"/>
                </div>
            </div>
        </div>
    </div>
    <div class="infoHolder">
        <div class="headlineHolder">
            <h1 class="yodel1">Discover your unique personality from 60 different types.</h1>
            <h1 class="yodel2">Play scientifically designed, fun, easy games.</h1> <!-- http://owl.english.purdue.edu/owl/resource/607/02 -->
            <h1 class="yodel3">Track your daily attention &amp; speed.</h1>
            <h1 class="yodel4">Enhance your productivity &amp; quality of life.</h1>
        </div>
        <a class="appStoreCTA" href="https://itunes.apple.com/us/app/tidepool/id691052387?ls=1&mt=8" onclick="ga('send', 'event', {eventCategory: 'appStore', eventAction:'click'});">
            <img class="appIcon" src="@@buildDir/images/app_teaser/logo_appicon_2x.png" alt="Starfish App Icon"/>
            <img class="appStoreBtn"
                src="@@buildDir/images/app_teaser/btn_downloadappstore_2x.png"
                alt="Download at the App Store"
                title="Download at the App Store"
            />
        </a>
    </div>

</div>