<div class="appTeaser">

    <div class="phoneHolder">
        <div class="phone">
            <b class="gloss fluff"></b>
            <b class="homeButton fluff"></b>
            <img class="phoneImg" src="@@buildDir/images/app_teaser/iphonebase.png" alt="Image of iPhone"/>
            <div class="screen">
                <b class="statusBar"></b>
                <div class="contents">
                    <img src="@@buildDir/images/app_teaser/iphone-slide.jpg" alt="Image of iPhone"/>
                </div>
            </div>
        </div>
    </div>
    <div class="infoHolder">
        <div class="headlineHolder">
            <h1>Discover your unique personality from 60 different types.</h1>
        </div>
        <a href="https://itunes.apple.com/us/app/tidepool/id691052387?ls=1&mt=8">
            <img class="appStoreBtn"
                src="@@buildDir/images/app_teaser/btn_downloadappstore.png"
                alt="Download at the App Store"
                title="Download at the App Store"/>
        </a>
    </div>

</div>