

<div class="intro">
    <h1>Introduction</h1>
    <p>Your friend wants to learn more about themselves. Complete this one-page questionnaire and help them find out.</p>
    <p>Your answers are anonymous. We don't identify your answer individually, only combined with the answers of others.</p>
    <p>Please be completely honest, it's the best way to help your friend.</p>
</div>


<h1>Is your friend...</h1>
<div id="ContentHolder" class='content'></div>

<p class="textAlignCenter">
    <button class="btn btn-large btn-primary" id="SubmitForm">
        Submit
    </button>
</p>

