

<div class="intro">
    <h1>Thank you</h1>
    <p>
        We're doing fancy math things to combine your answers with those of other people.
        We'll use this to tell your friend about how others percieve him or her.
    </p>
</div>


<p class="large">
    You can learn about yourself, too. Play our personality game and, if you'd like, ask your friends what they think about you.
</p>
<p class="textAlignCenter">
    <a href="#startGame" class="btn btn-large btn-primary">Get Started</a>
</p>

