

<b class="gfx-badge">
    <img src="@@buildDir/images/game/teasers/reaction_time_disc.jpg" alt="3 partially transparent circles"/>
</b>


<hgroup class="mainHeading">
    <h3>Your Results For</h3>
    <h1>Reaction Time</h1>
</hgroup>


<div id="ResultsDisplay" class="results">

</div>

<div class="explanation">
    <p class="large"><strong>The Reaction Time Game</strong> Measures the time it takes for your brain to recieve a message and send that message to the muscles in your fingers.</p>
    <p class="large">The fastest time for an average man: 253ms, average woman: 261ms</p>
</div>


<p id="CallToAction" class="textAlignCenter">
    <a class="btn btn-large btn-primary btn-alt" href="#dashboard-productivity">Dashboard</a>
    <a class="btn btn-large btn-primary" href="#game/reaction_time">Play Again</a>
</p>

