
<div id="ResultsDisplay" class="results">
    <p class="textAlignCenter">
        <b class="holdPlease inline">
            <i class="icon-repeat icon-4x"></i>
        </b>
        <br/>
    </p>
    <p class="muted textAlignCenter">
        Loading Results...
    </p>
</div>

<p id="CallToAction" class="textAlignCenter">
    <a class="btn btn-large btn-primary" href="#dashboard">View My Dashboard</a>
    <br/>
    <br/>
</p>

