

<h1>Personality Comparison</h1>

<p class="large">
    There are not enough results yet to compute your social personality profile.
</p>
<p>
    You need to have at least <strong>3 friends</strong> complete a personality survey for you by sharing this link with them:
    <a href="{{origin}}/#friendHelper/0/{{game_id}}">
        {{origin}}/#friendHelper/0/{{game_id}}
    </a>

</p>

