@import '../../../styles/appVars'
@import '../../../styles/colorVars'
@import '../../../styles/helpers'


.widget
  //$size: $space * 8
  position: relative
  display: block
  padding: $spaceLil $space
  margin: $spaceLil
  background: white
  border-radius: $radiusSmall
  box-shadow: 0 $spaceTiny 0 0 $shade, 0 0 0 0 transparent
  cursor: pointer
  overflow: scroll
  text-align: center
  +box-sizing(border-box)
  +transitionable

  h3
    color: $colorForeground

  .dogEar
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 0
    border: $space solid transparent
    border-top-color: $colorHighlight
    border-right-color: $colorHighlight

  ul, p
    text-align: left
  &>p
    position: relative // stay above pos absolute things like the .dogear
    text-align: center
    font-weight: bold
    font-size: $fontSizeSmall

  h3
    text-align: left
    font-size: $fontSizeBody
    background: $colorGoodThin
    text-transform: uppercase
    margin-top: -$spaceLil // Make it flush with edge of widget
    margin-left: -$space
    margin-right: -$space
    padding: $spaceLil $space
  &.premium h3
    background-color: $colorHighlight
    color: $shadeDark
    font-weight: bold
  &.featured h3
    background-color: $colorGood
    color: white
    font-weight: bold

  &.hasFooter
    padding-bottom: $space
  .footer
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: $spaceTiny 0
    border-top: 1px solid $colorBackgroundWarm
    background: $colorBackground
    font-size: $fontSizeLarge
    color: $colorHighlight - 25




  // widgets that contain charts
  canvas
    float: left
    margin-right: $spaceLil
    margin-left: -$spaceLil
  ul.key
    position: absolute
    top: $space
    right: 0
    min-width: 100px
    padding: $spaceLil
    background: $highlight
    border-radius: $radiusSmall
    margin-top: $spaceBig
  ul.key li
    font-size: $fontSizeTiny



  &:hover
    box-shadow: 0 $spaceTiny 0 0 $shade, 0 0 $space * 8 $spaceTiny $highlight, 0 0 0 $spaceTiny $highlight, 0 0 0 1px $shade
    //+transform( translateY(-$spaceTiny) ) // If this is in place chrome has a bizarre flicker during the transition
    z-index: 1


  // The round dividing icon between the sections
  .bottomIcon
    $size: $space + $spaceLil
    position: absolute
    bottom: -($size/2)
    left: 50%
    margin-left: -($size/2)
    width: $size
    height: $size
    font-size: 20px
    line-height: $size
    background-color: white
    box-shadow: 0 0 0 1px $colorQuiet
    color: $colorForegroundCool
    border-radius: 50%
    text-align: center




.coolTones .widget
  h3
    background: $colorBackgroundCool

  .intro
    color: lighten($colorForegroundCool, 20%)
    text-align: left
    background: white
    margin: -$space
    margin-top: -$spaceLil
    //margin-bottom: 0
    padding: $spaceLil $space
    padding-bottom: $space // extra room for the icon divider
    font-size: $fontSizeBody
    border-bottom: 1px solid $colorQuiet