<div class="widget empty">
    <p>
        {{title}}
    </p>
    <span class="icon-stack">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-plus"></i>
    </span>
</div>