







<div class="stageHolder">
    <div class="left fluff underline">
        <b class="underline"></b>
    </div>
    <div class="right fluff underline">
        <b class="underline"></b>
    </div>
    <b class="bottom fluff underline"></b>
    <div class="stage underline">

    </div>
</div>


