

<a class="widget colorBrand2" href="#game/just_snoozer">

    <hgroup class="fancyTitle">
        <p><strong class="gfx-logo-snoozer"></strong></p>
        <p>Game</p>
    </hgroup>


    <p class="snoozer inlineBlock">
        <span class="clock"></span>
    </p>
</a>


