

<nav class="dashPicker">
    <ul>
        <li><a class="summary" href="#dashboard">
            <i class="icon-dashboard"></i>
            <label>Summary</label>
        </a></li>
        <li><a class="personality" href="#dashboard-personality">
            <i class="icon-user"></i>
            <label>Personality</label>
        </a></li>
        <li><a class="productivity" href="#dashboard-productivity">
            <i class="icon-briefcase"></i>
            <label>Productivity</label>
        </a></li>
        <li><a class="mood" href="#dashboard-mood">
            <i class="icon-smile"></i>
            <label>Mood</label>
        </a></li>
    </ul>
</nav>





