@import '../styles/appVars'
@import '../styles/colorVars'
@import '../styles/helpers'




.widgetmaster
  font-size: 0 // to prevent space between inline-block elements
  margin: -$spaceLil // should match the margin on widgets

  .holder
    position: relative
    float: left
    font-size: $fontSizeBody
    +box-sizing(border-box)

  .holder
    width: 100%
    .widget
      height: $space * 10
    @media all and (min-width: 401px)
      width: 50%
    @media all and (min-width: 701px)
      width: 33%
    @media all and (min-width: 1050px)
      width: 25%

  .holder.doubleWide
    width: 100%
    @media all and (min-width: 401px)
      width: 100%
    @media all and (min-width: 701px)
      width: 66%
    @media all and (min-width: 1050px)
      width: 50%

  .holder.tall
    .widget
      height: $space * 20 + $spaceLil * 2

  .holder .share
    bottom: $spaceLil + $spaceTiny
    right: $spaceLil + $spaceTiny

