

$fontTitle: 'Open Sans', sans-serif
$fontBody: 'Open Sans', sans-serif

$fontSizeLarge: 20px
$fontSizeBody: 16px
$fontSizeSmall: 14px
$fontSizeTiny: 11px

$maxSiteWidth: 1220px

$spaceBig: 50px
$space: 25px
$spaceLil: 10px
$spaceTiny: 3px

$radiusTiny: 2px
$radiusSmall: 4px
$radiusMed: 10px
$radiusLarge: 25px

$headerHeight: 80px