

$colorBrand: #e43e45
$colorBrandContrast: #428ae3
$colorBrandContrastNeutral: #3b3b41
$colorBrandContrastLight: $colorBrandContrastNeutral + 50
$colorBackground: #F5F5F5
$colorForeground: #363636

// 3rd Party Brand Colors
$colorFacebook: #428ae3
$colorFitbit: #48c1c4

// Semantic Colors
$colorGood: #35a589
$colorGoodLight: #2dcbba
$colorInfo: #73829d
$colorInfoLight: #99acd0
$colorInfoDark: #4c576a
$colorQuestion: #73829d
$colorWarn: #d79d51
$colorWarnBright: #FABB3D
$colorWarn: #d79d51
$colorBad: #e96267
$colorQuiet: #b7b7b7

// Action Colors
$colorPrimaryAction: $colorBrand
$colorSecondaryAction: #8796b3

// Shading + Highlighting Colors
$shadeVeryLight: rgba(0,0,0,0.05)
$shadeLight: rgba(0,0,0,.1)
$shade: rgba(0,0,0,.3)
$shadeDark: rgba(0,0,0,.5)

$highlight: rgba(255,255,255, .5)

