@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss'
@import '_appVars.sass'
@import '_colorVars.sass'
@import '_helpers.sass'



// All Buttons are Based on Bootstrap Overrides
.btn, .btn-large
  box-sizing: border-box
  border-color: $shadeVeryLight
  border-bottom-color: opacify( $shadeVeryLight, .1 )
  border-radius: $radiusSmall
  //box-shadow: inset 0 1px 0 0 $highlight, inset 0 -2px 0 1px $shadeVeryLight // vendor prefixes depreciated: http://bourbon.io/docs/#box-shadow
  box-shadow: 0 2px 3px 0 $shadeLight
.btn-large
  height: $spaceBig
  line-height: $spaceBig
  padding: 0 $space
.btn:hover, .btn:focus
  background-position: 0 0
.btn.active, .btn:active
  box-shadow: inset 0 2px 0 1px $shadeLight

// min-width certain buttons
.btn-large.btn-primary,
.btn-large.btn-inverse
  min-width: $spaceBig * 4

.btn.btn-link,
.btn.btn-link:hover, .btn.btn-link:focus,
.btn.btn-link.active, .btn.btn-link:active
  background: none
  box-shadow: none
  border: 1px solid transparent
  background-image: none
  text-decoration: none
.btn.btn-link
  color: $colorLink
.btn.btn-link.brandHappy
  color: $colorBrandLight
.btn.active
  cursor: default
.btn.btn-link:hover, .btn.btn-link:focus
  border: 1px solid $shadeLight
  background: $highlightThin
.btn.btn-link:active
  border: 1px solid $shade
  background: $highlight

// Bootstrap Button Overrides per color
+magicalButton( '.btn', $colorBackground, 5 )
+magicalButton( '.btn-primary', $colorBrand )
+magicalButton( '.btn-primary.btn-alt', $colorBrand1 )
+magicalButton( '.btn-success', $colorGood )
+magicalButton( '.btn-inverse', $colorForeground, 25, 25 )
+magicalButton( '.btn-primary.facebook', $colorFacebook )
+magicalButton( '.btn-primary.fitbit', $colorFitbit)

.btn.btn-clear
  background: none
  background-image: none
  box-shadow: none
  border: none
.btn.btn-clear:hover
  background: $shadeVeryLight
.btn.btn-clear:active
  background: $shadeLight


.btn i // icons in a button
  vertical-align: middle
  line-height: inherit
.btn-link i
  margin-right: $spaceTiny
.btn-primary .muted,
.btn-success .muted,
.btn-inverse .muted
  color: $highlight
.btn-primary.facebook .muted
  color: $colorFacebook + 100

// Small Labels in a button
.btn small
  display: block
  font-size: $fontSizeSmall
  text-transform: uppercase
  color: $colorQuiet
  line-height: 1.2
.btn.active small
  color: $colorForeground


//---------------------------------------------------------- Tall Buttons
.btn.btn-tall
  min-height: $space * 5
  line-height: $space * 4
.btn.btn-large.btn-tall
  min-width: $space * 4
  border-radius: $radiusMed
  padding: 0 $spaceLil
.btn.btn-large.btn-tall i
  font-size: $space * 3
  width: $space * 3
  height: $space * 3
  line-height: $space * 3
  margin: 0
.btn.btn-large.btn-tall.active
  color: $colorBrand1
  background: $colorBackground
  border: 1px solid $colorVeryQuiet
  cursor: pointer
.btn.btn-large.btn-tall.active small
  color: $colorBrand1
// ...with icons
.btn.btn-large.btn-tall i
  color: transparentize($colorForeground, .25)
.btn.btn-large.btn-tall:hover i
  color: $colorForeground
.btn.btn-large.btn-tall.active i
  color: $colorBrand1

.btn.btn-large.btn-tall.active .gfx-female,
.btn.btn-large.btn-tall.active .gfx-female+small
  color: $colorFemale
.btn.btn-large.btn-tall.active .gfx-male,
.btn.btn-large.btn-tall.active .gfx-male+small
  color: $colorMale



// Screen Size Adjustments
.btn-large
  padding: 0 $spaceLil
.btn-large.btn-primary,
.btn-large.btn-inverse
  min-width: $spaceBig
.btn i
  margin-right: $spaceTiny

@media all and (min-width: 601px)
  .btn-large.btn-primary,
  .btn-large.btn-inverse
    min-width: $spaceBig * 2
  .btn-large
    padding: 0 $space
  .btn i
    margin-right: $spaceLil
@media all and (min-width: 1001px)
  .btn-large.btn-primary,
  .btn-large.btn-inverse
    min-width: $spaceBig * 4