/* Footer
=================================================================== */

footer {
  min-height: 24px;
  background: #3b3b41;
  color: #fff !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}