@import '_appVars.sass'
@import '_colorVars.sass'
@import '_helpers.sass'

// Bootstrap Form Overrides

form.form-inline input
  &[type=text],
  &[type=email],
  &[type=password],
  &[type=number],
  &[type=search],
  &[type=date]
    margin-bottom: $spaceLil
form.form-inline .btn
  margin-bottom: $spaceLil
form.form-inline label
  margin-bottom: 0

input
  &[type=text],
  &[type=email],
  &[type=password],
  &[type=number],
  &[type=search],
  &[type=date]
    box-shadow: inset 1px 2px 3px 0 $shadeLight
    background: $colorBackground
    font-size: $fontSizeBody
    height: $space + $spaceLil
    line-height: $space
    padding: $spaceLil / 2 $spaceLil
    min-width: 220px
    +transitionable
    +box-sizing(border-box)

input.large
  &[type=text],
  &[type=email],
  &[type=password],
  &[type=number],
  &[type=search],
  &[type=date]
    font-size: $fontSizeBody
    box-sizing: border-box
    height: $spaceBig
    padding: 0 $spaceLil

input:hover
  &[type=text],
  &[type=email],
  &[type=password],
  &[type=number],
  &[type=search],
  &[type=date]
    background-color: mix($colorBackground, white)

input:focus
  &[type=text],
  &[type=email],
  &[type=password],
  &[type=number],
  &[type=search],
  &[type=date]
    background-color: white

label
  cursor: default
  text-transform: uppercase


input[type=date]
  padding-right: $spaceLil

select, input[type=date]
  +box-sizing(border-box)

select
  box-shadow: inset 1px 2px 3px 0 $shadeLight
  background: $colorBackground
  font-size: $fontSizeBody
  height: $space + $spaceLil
  line-height: $space
  padding: $spaceLil / 2 $spaceLil
  //+appearance(none)

select:after
  display: block
  position: absolute
  top: 0
  right: 0
  content: 'hello!'
  width: $space
  height: $space
  background: red

select.large
  font-size: $fontSizeBody
  box-sizing: border-box
  height: $spaceBig + $spaceLil
  padding: 0 $spaceLil

