@import '_appVars.sass'
@import '_colorVars.sass'
@import '_helpers.sass'

// Bootstrap Form Overrides

form.form-inline input
  &[type=text],
  &[type=email],
  &[type=password],
  &[type=number],
  &[type=search]
    margin-bottom: $spaceLil
form.form-inline .btn
  margin-bottom: $spaceLil
form.form-inline label
  margin-bottom: 0

input
  &[type=text],
  &[type=email],
  &[type=password],
  &[type=number],
  &[type=search]
    box-shadow: inset 1px 2px 3px 0 $shadeLight
    background: $colorBackground
    font-size: $fontSizeBody
    xbox-sizing: border-box
    height: $space
    padding: $spaceLil / 2 $spaceLil
    +transitionable

input.large
  &[type=text],
  &[type=email],
  &[type=password],
  &[type=number],
  &[type=search]
    font-size: $fontSizeBody
    box-sizing: border-box
    height: $spaceBig
    padding: 0 $spaceLil

input:hover
  &[type=text],
  &[type=email],
  &[type=password],
  &[type=number],
  &[type=search]
    background-color: mix($colorBackground, white)

input:focus
  &[type=text],
  &[type=email],
  &[type=password],
  &[type=number],
  &[type=search]
    background-color: white