@import './appVars'
@import './colorVars'
@import './helpers'

.icon
  display: inline-block
  background: url("images/brand.png")

.icon.icon-bulb-circle
  width: 50px
  height: 50px
  background-position: -452px -25px
.icon.icon-documents-circle
  width: 50px
  height: 50px
  background-position: -502px -25px

a:hover .icon,
a:hover [class^="icon-"],
a:hover>i
  text-decoration: none


