#loginIframe {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

#loginView .loginView {
  position:absolute;
  width: 300px;
  height: 600px;
  top: 100px;
  left: 300px;
}


#loginView .loginView .silent {

}