@import 'sass-bootstrap/lib/bootstrap';
@import './basic';
@import './reaction_time';
@import './image_rank';
@import './circles_test';
@import './progress_bar_view';
@import './login_view';

.infobox {
  margin-top: 80px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  color: white;
  line-height: 27px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
