.progressbar {
  margin-top: 15px;
  margin-right: 20px;
  width: 100px;
  height: 12px;
  background: white;
  padding: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.progressbar .section {
  height: 10px;
  float: left;
  background: #cccccc;
  border-right: 1px solid white;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.progressbar .section.first {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.progressbar .section.last {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-right: none;
}
.progressbar .section.complete {
  background-color: #d43034;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e54045), to(#d43034));
  /* Konqueror */
  background-image: -moz-linear-gradient(#e54045, #d43034);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(#e54045, #d43034);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e54045), color-stop(100%, #d43034));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(#e54045, #d43034);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#e54045, #d43034);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, #e54045 0%, #d43034 100%);
  /* IE10+ */
  background-image: linear-gradient(#e54045, #d43034);
  /* the standard */

}