
@import '_appVars.sass'
@import '_colorVars.sass'


// Body Copy
body
  background: $colorBackground
body, p
  font-family: $fontBody
  font-weight: 400
  font-size: $fontSizeBody
  color: $colorForeground
  line-height: 1.5

// Headings & Titles
h1, h2, h3, h4, h5, h6, label
  font-family: $fontTitle
  font-size: $fontSizeLarge
  line-height: 1.1
h1
  font-size: 32px
  font-weight: 300
h2
  font-size: 26px
  text-transform: uppercase
  font-weight: normal
h3
  font-size: 20px
  font-weight: normal
h4, h5, h6
  font-size: 14px

// Clickable Elements
a
  color: $colorLink
  text-decoration: none
  cursor: pointer
a:hover
  text-decoration: underline





// Text modifications
p.large
  font-size: $fontSizeLarge
p.strong
  font-weight: bold

// Highlights
em
  color: $colorGoodLight
  font-style: normal

hr
  height: 1px
  background-color: $highlight
  border: none
  margin: $space auto
  width: 90%






