


<p class="textAlignCenter large">
    <strong>Create a free account</strong>
</p>

<p>
    This lets you see your detailed personality report and play more games to learn about yourself.
</p>

<br/>

<p class="textAlignCenter">
    <button class="btn btn-large btn-primary" id="ActionShowSignup">Sign Up</button>
</p>
