


<!--<button class="btn" type="button">-->
    <!--Share-->
    <!--<i class="icon-plus"></i>-->
<!--</button>-->

<!--<nav class="noDisplay">-->
    <!--<b class="fluff arrowBottom"></b>-->
    <i class="action-email gfx-envelope-alt" title="Share by Email"></i>
    <i class="action-twitter gfx-twitter-2" title="Share on Twitter"></i>
    <i class="action-facebook gfx-facebook-2" title="Share using Facebook"></i>
<!--</nav>-->

