


<div class="pillHolder">
    {{#each levels}}
        <div
            class="step {{#isComplete}}completed{{/isComplete}}"
            title="{{ friendly_name }}"
            style="width:{{ ../width }}"
        >
        </div>
    {{/each}}
</div>


<h3 class="title">
    {{title}}
</h3>

