@import '../../styles/_appVars'
@import '../../styles/_colorVars'
@import '../../styles/_helpers'






.formation
  text-align: center
  margin: 0

  .field
    text-align: left
    margin-bottom: $spaceLil



