

<a class="widget hasFooter" href="#game/emotions">

    <hgroup class="fancyTitle">
        <p>The</p>
        <p><strong>Emotions</strong></p>
        <p>Game</p>
    </hgroup>

    <img src="images/game/teasers/emotions.jpg" alt="Flower made up of pastel colored circles"/>

    <p>Track your daily emotions.</p>

    <div class="footer">Play Now</div>
</a>


