

<div class="widget hasFooter pressable">

    <h2>Let's Get Personal-ized.</h2>

    <p>
        Your productivity, mood, and how you handle stress are all tied to your personality.
    </p>
    <p>
        Set up your prefernces and Tidepool will guide you daily. Your self-improvement starts with your choices.
    </p>

    <div class="footer">
        Set Preferences Now
        <i class="gfx-cog"></i>
    </div>
</div>


