

<a class="widget hasFooter" href="#game/reaction_time">

    <hgroup class="fancyTitle">
        <p>The</p>
        <p><strong>Reaction Time</strong></p>
        <p>Game</p>
    </hgroup>

    <img src="@@buildDir/images/game/teasers/reaction_time_disc.jpg" alt="3 partially transparent circles"/>

    <p>Think quick, react fast.</p>

    <div class="footer">Play Now</div>
</a>


