<div id="content" class="container">
  <div class="row">
    <div class="span6 offset3 results">
      {{#each results}}
        <dl>
          <dt>{{friendly_name}}</dt>
          <dd>{{dimension}}</dd>
        </dl>
      {{/each}}
      <button id="go_dashboard" class="btn btn-primary btn-large btn-orange">Continue</button>
    </div>
  </div>
</div>