@import '../../styles/appVars'
@import '../../styles/colorVars'
@import '../../styles/_helpers'


.emotions.result
  $imageSize: 125px
  overflow-y: auto
  .emoticon
    float: left
    +transitionable(background-position, 1s)
  h3
    margin-left: $imageSize
    font-size: $fontSizeLarge
    text-transform: uppercase
    color: $colorForegroundMild
    padding-top: $space
  h3 p // Because markdown can wrap it in a `p` sometimes
    line-height: 1.1
    text-align: center
  h3 em
    display: block
    font-size: $fontSizeVeryLarge
    color: $colorBrand1
    line-height: 0.9
  .description
    clear: both


