

<div class="centered spaceAbove">
    <h1 class="gfx-logo-snoozer"></h1>
    <h3>
        Press the alarm clocks when they ring so you can snooze longer.
    </h3>
</div>

<p class="textAlignCenter">
    <span class="clock"></span>
</p>

<p class="textAlignCenter">
    <button class="btn btn-large btn-primary" id="ActionNext" type="button">Start</button>
</p>