<div class="hero centered results">
    <h1 class="gfx-logo-snoozer"></h1>
    <h3 class="inverse uppercase">
        <div class="left fluff underline">
            <b class="underline"></b>
        </div>
        <div class="right fluff underline">
            <b class="underline"></b>
        </div>
        Results
    </h3>
</div>

<div class="speed centered">
    <h3 class="title inverse">Fastest Speed</h3>
    <h3 class="time">{{fastest_time}}ms</h3>
    <p class="textAlignCenter uppercase large">
        Avg Man: 253, Avg Woman, 261
    </p>
</div>

<div class="summary textAlignCenter">
    <h3 class="yay">
        <span class="clock small"></span>
        {{correct}}/{{total}} Correct
    </h3>
    <h3 class="boo">
        <span class="clock small"></span>
        {{incorrect}} Incorrect
    </h3>
</div>

<p class="large centered">
    Your time can improve with training.
    A good reaction time might be the only thing between life and death or injury.
    The more you play these games, the faster you'll be able to think on your feet and achieve better focus.
</p>

<p class="callToAction textAlignCenter">
    <a class="btn btn-large btn-primary btn-alt" href="#dashboard-productivity">Dashboard</a>
    <a class="btn btn-large btn-primary" href="#game/just_snoozer">Play Again</a>
</p>