
<div class="widgetMaster">
    <div class="holder doubleWide tall">
        <div class="widget">1</div>
    </div>
    <div class="holder">
        <div class="widget">2</div>
    </div>
    <div class="holder">
        <div class="widget">3</div>
    </div>
    <div class="holder">
        <div class="widget empty">
            <p>
                Add this widget to track your work happiness
            </p>
            <span class="icon-stack">
                <i class="icon-circle-blank icon-stack-base"></i>
                <i class="icon-plus"></i>
            </span>
        </div>
    </div>
    <div class="holder doubleWide">
        <div class="widget">5</div>
    </div>
    <div class="holder">
        <div class="widget empty">
            <p>
                Take this test to find out more about your career.
            </p>
            <span class="icon-stack">
                <i class="icon-circle-blank icon-stack-base"></i>
                <i class="icon-plus"></i>
            </span>
        </div>
    </div>
</div>




