
<ol class="stepsRemainingWizard steps-3 clearfix">
    <li>Productivity</li>
    <li>Mood</li>
    <li>Complete</li>
</ol>

<div class="explanation"></div>

<div class="content"></div>

<div class="actionZone clearfix">
    <button
            id="ActionNext"
            class="btn btn-large btn-link brandHappy pull-right" type="button">
        Next
        <span class="icon-stack">
            <i class="gfx-circle-blank icon-stack-base"></i>
            <i class="gfx-arrow-right"></i>
        </span>
    </button>
</div>

<div class="footer brandHappy small">

</div>

