<div id="start" class="row">
  <div class="span6 offset3 infobox">
    <p>{{ definition.instructions }}</p>

    <p>Start a new assessment</p>
    <button id="startAssessment" class="btn btn-primary btn-large btn-orange">Continue</button>  </div>
</div>