

<i class="emoticon {{ score.display_emotion_name }}" title="{{ score.display_emotion_friendly }}" />
<h3>
    {{{ score.display_emotion_title }}}
</h3>
<div class="description">
    {{{ score.display_emotion_description }}}
</div>

