@import '../../styles/appVars'
@import '../../styles/colorVars'
@import '../../styles/helpers'

.gameResultsPage .result.reactionTimeHistory
  padding-bottom: 0

.result.reactionTimeHistory
  $widgetHeight: 250
  $h3Height: 37
  $contentHeight: $widgetHeight - $h3Height - $space
  $barWidth: $spaceLil
  position: relative

  h3
    margin-bottom: 0

  .divider
    position: absolute
    left: 0
    right: 0
    bottom: 0
    margin: 0

  // The scrollable container for the bar chart
  .chartHolder
    position: relative
    height: $contentHeight
    line-height: $contentHeight
    background: $colorBackground
    overflow: visible
    overflow-x: auto
    padding-bottom: $space // leave room for the scroll bar
    box-shadow: inset 0 (-$space) 0 0 white // but don't show the background there


  // ---------------------------------------------- The bar chart
  .barChart
    list-style: none
    margin: 0
    padding: 0
    text-align: left
    font-size: 0
    height: 100%
    vertical-align: bottom
    white-space: nowrap

    .bar
      display: inline-block
      vertical-align: bottom
      width: $barWidth
      min-height: $spaceTiny
      background: $colorQuiet
      border-top-left-radius: $radiusTiny
      border-top-right-radius: $radiusTiny
    .bar.fastest
      background: lighten($colorFastest, 10%)
    .bar.slowest
      background: lighten($colorSlowest, 10%)
    .bar.fastest:hover
      background: $colorFastest
    .bar.slowest:hover
      background: $colorSlowest

    // Spacing and Grouping
    .bar.fastest
      margin-left: -$barWidth
      margin-right: $spaceTiny
      box-shadow: 0 -2px 0 1px $colorBackground
    .bar.slowest
      margin-left: $spaceTiny














