
<div class="gameWelcome personality">

    <div class="title">
        <h1 class="gfx-logo-personality"></h1>
        <h3>
            Play to discover the different shades of your personality and interests.
        </h3>
    </div>

    <p class="image">
        <img src="images/home_page/about-graphics_02b.png" alt="Personality Badges"/>
    </p>

    <p class="action">
        <button class="btn btn-large btn-primary" id="ActionBeginGame" type="button">Start Game</button>
    </p>
</div>

