
<p>
    Great!
</p>
<p>
    Now, place the circles that you consider most important closer to the large green circle, and place the less important ones further away.
</p>
<p class="textAlignCenter">
    <img src="images/game/instructions/circle_proximity.jpg" alt="Hand dragging a blue circle towards a green one"/>
</p>