@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon'
@import '../../../styles/appVars'
@import '../../../styles/colorVars'
@import '../../../styles/helpers'




.circleProximity .self
  $size: $spaceBig * 4
  $color: lighten( $colorGood, 5% )
  display: block
  position: absolute
  width: $size
  height: $size
  line-height: $size
  background-color: $color
  border-radius: 50%
  text-align: center
  box-shadow: 0 0 0 $spaceTiny $colorBackground

  .user
    $size: $space * 2
    position: absolute
    top: 50%
    margin-top: - $size/2 - 5
    left: 50%
    margin-left: - $size/2
    font-size: $size
    width: $size
    height: $size
    line-height: $size
    color: white
    vertical-align: middle
    text-shadow: 2px 2px $color, -2px 2px $color, 2px -2px $color, -2px -2px $color // most favest css hax evar

  &.yay
    +animation( selfLove .7s )

  .borderPatrol
    position: absolute
    width: $spaceBig * 4
    height: $spaceBig * 4
    border-radius: 50%
    top: 0
    left: 0
    box-shadow: 0 0 0 $spaceTiny $colorBackgroundWarm, inset 0 0 0 $spaceTiny $color

  .line
    display: none
    position: absolute
    width: $spaceTiny
    background-color: $colorGood
    +transform-origin( top center )
    height: 300px


+keyframes(selfLove)
  0%, 100%
    +transform( scale(1) )
    box-shadow: 0 0 0 0 transparent
  10%, 80%
    box-shadow: 0 0 0 $space * 2 transparentize($colorGood,.95), 0 0 0 $space * 2 transparent
  20%, 60%
    box-shadow: 0 0 0 $space * 2 transparentize($colorGood,.9), 0 0 0 $space * 2 * 2 transparentize($colorGood,.95), 0 0 0 $space * 2 * 2 transparent
  30%
    +transform( scale(1.05) )
    box-shadow: 0 0 0 $space * 2 transparentize($colorGood,.8), 0 0 0 $space * 2 * 2 transparentize($colorGood,.9), 0 0 0 $space * 2 * 3 transparentize($colorGood,.95)


