

<div class="widget">
    <h3>Career Recommendations</h3>


    <p class="intro fullWidth">
        <i class="bottomIcon icon-briefcase"></i>
        Based on your personality and interests, you are best suited for careers such as:
    </p>

    <hr>

    <p class="large recommendation">
        {{commaList careers}}
    </p>

</div>


