@import '../styles/_appVars'
@import '../styles/_colorVars'
@import '../styles/_helpers'



.aboutPage
  text-align: center

  section
    padding: $spaceLil
    +box-sizing(border-box)
    text-align: center

  section p
    color: white
    //background: $shadeLight // Helps readbility
    padding: $space
    //border-radius: $radiusSmall
    text-align: left
    text-transform: uppercase

  @media all and (min-width: 801px)
    section
      float: left
      width: 33%
      margin-bottom: $spaceBig
    section p
      min-height: 6em // assume 4 lines
      margin-bottom: $space



body.pages-about
  background-color: $colorForeground
  background: url('../images/home_page/homepageblur_bg.jpg') no-repeat top center fixed
  background-size: cover
  //filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/dashboard/dashboard_bg.jpg', sizingMethod='scale')"
