

<b class="gfx-badge">
    <img src="images/game/teasers/emotions.jpg" alt="3 partially transparent circles"/>
</b>


<hgroup class="mainHeading">
    <h3>Your Results For</h3>
    <h1>Emotions</h1>
</hgroup>


<div id="ResultsDisplay" class="results">

</div>

<div class="explanation">
    <p class="large">
        Emotional well-being can greatly affect your physical health.
        Stress, depression, and anxiety can contribute to a host of physical ailments including digestive disorders,
        sleep disturbances, and lack of energy.
    </p>
</div>


<p id="CallToAction" class="textAlignCenter">
    <a class="btn btn-large btn-primary btn-alt" href="#dashboard-mood">Dashboard</a>
    <a class="btn btn-large btn-primary" href="#game/emotions">Play Again</a>
</p>

