
<p class="textAlignCenter">
    <img src="/images/badges/{{logo_url}}" alt="{{name}}">
</p>

<h2>
    <span class="muted">You are </span>
    {{name}}
</h2>

<div class='large'>
    {{{one_liner}}}
</div>


