
<div id="ResultsContainer" class="results">
    <b class="holdPlease inline">
        <i class="icon-repeat icon-4x"></i>
    </b>
</div>


<h2>Learn More About Yourself</h2>

<p>You completed the first TidePool game. That's awesome. Sign up to see the full results, play more games, and see reccomendations tailored to your personality and interests.</p>

<button class="btn btn-large btn-primary" id="ActionShowSignup">Sign Up</button>


<!--<div id="SignupContainer"></div>-->
