
<div id="ResultsContainer" class="results">
    <b class="holdPlease inline">
        <i class="icon-repeat icon-4x"></i>
    </b>
</div>


<p class="textAlignCenter large">
    Create a free account to see your detailed personality and interests reports.
</p>

<p class="textAlignCenter">
    <button class="btn btn-large btn-primary" id="ActionShowSignup">Sign Up</button>
</p>

<!--<div id="SignupContainer"></div>-->
