
<div id="ResultsContainer"></div>


<h2>Learn More About Yourself</h2>

<p>You completed the first TidePool game. That's <em>awesome</em>. Sign up to see the full results, play more games, and see reccomendations tailored to your personality and interests.</p>

<button class="btn btn-large btn-primary" id="ActionShowSignup">Sign Up</button>


<!--<div id="SignupContainer"></div>-->
