@import '../styles/_appVars'
@import '../styles/_colorVars'
@import '../styles/_helpers'





.guestSignupPage
  padding-bottom: $spaceBig
  max-width: $space * 20
  margin: 0 auto
  margin-top: -$space

  .results
    margin-bottom: $spaceBig

  h2
    color: $colorBrand1
    margin: $spaceBig 0 $space
  h2 .muted
    color: $colorForeground

  .large p
    font-size: $fontSizeLarge

  .results .holdPlease
    margin-top: $space * 4
    margin-bottom: $space
    margin-left: 50%

  .holdPlease [class^="icon-"]
    color: $highlight

  p .btn-primary
    min-width: 0