@import '../styles/_appVars'
@import '../styles/_colorVars'
@import '../styles/_helpers'




.homePage .hero
  $gap: $space * 3
  text-align: center
  margin: $gap 0

  h1, h2
    text-transform: uppercase
    color: white
    text-shadow: $spaceTiny 1px $spaceLil $shade, -$spaceTiny 1px $spaceLil $shade, 0 $spaceTiny $spaceLil $shade
    letter-spacing: .02em
    line-height: 1.2
  h1
    font-size: $fontSizeMegaLarge
  h2
    font-size: $fontSizeMegaLarge
    margin-bottom: $gap

  .shadowWarrior
    display: inline-block
    box-shadow: 0 $spaceTiny $space $spaceTiny $shade
    border-radius: $radiusSmall







body.pages-home
  background-color: $colorForeground
  background: url('../images/home_page/homepage_bg.jpg') no-repeat top center fixed
  background-size: cover
  //filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/dashboard/dashboard_bg.jpg', sizingMethod='scale')"