
<div class="heroHolder">
    <div class="hero majorSection">
        <h2>
            <!--Awareness is<br/>-->
            <!--the beginning<br/>-->
            <!--of improvement.-->
            Discover Your <br/>
            Personality Type

        </h2>

        <!--<h1>Meet TidePool.</h1>-->

        <p>
            <span class="shadowWarrior">
                <a href="#startGame" class="btn btn-large btn-primary">Play Personality Game</a>
            </span>
        </p>
        <p class='whisper'>Only Takes 5 Minutes</p>
    </div>
</div>



<div class="majorDivider withContent">
    <div class="valueDesc">
        <ul>
            <!-- Personality -->
            <!--<li>Learn your personality type</li>-->
            <li>A <em>fun</em>, scientifically validated game helps you <em>discover your personality.</em></li>
            <!--<li>Discover who you are</li>-->

            <!-- Results -->
            <!--<li>See an accurate description of yourself with charts, graphs, and recommendations</li>-->
            <!--<li>We show you graphs and descriptions of your personality and interests</li>-->
            <!--<li>See your strengths and weaknesses described in easy-to-understand charts</li>-->
            <!--<li>Learn how to play up your strengths and improve your weaknessess</li>-->


            <li class="hasImg">
                <img src="images/home_page/lightbulb.png" alt="Game being played"/>
            </li>

            <!-- Social -->
            <!--<li>Find out what your friends think of you</li>-->
            <!--<li>Find out how you're preceived by your peers</li>-->


            <li><em>Get recommendations</em> based on your personal traits.</li>

            <!--<li>Track the changes in your mood over time</li>-->

            <!--<li>See how your emotions and mental sharpness relate</li>-->
            <!--<li>Uncover how your emotions change over time</li>-->
            <!--<li>Track your emotions over time</li>-->
            <!--<li>Track your mental sharpness over time</li>-->
            <!--<li>Improve your mental sharpness</li>-->
            <!--<li>Track and uncover your daily emotions</li>-->
            <!--<li>Learn how to be more productive</li>-->
        </ul>
    </div>
</div>


<div class="aboutHolder"><div class="aboutPage majorSection clearfix">
    <h2>How Does it Work?</h2>
    <section class="col3rds">
        <p>
            Play easy games that measure your personality, emotions, and psychology.
        </p>
        <img src="images/home_page/about-graphics_01b.png" alt="Game being played"/>
    </section>

    <section class="col3rds">
        <p>
            Our patented technology will generate helpful recommendations and insightful results.
        </p>
        <img src="images/home_page/about-graphics_02b.png" alt="Personality Badges"/>
    </section>

    <section class="col3rds">
        <p>
            As you play more games,
            you'll be able to compare each aspect of your self, mood, productivity, and health.
        </p>
        <img src="images/home_page/about-graphics_03b.png" alt="Self Improvement Map"/>
    </section>
</div></div>



<div class="majorDivider"></div>



<div class="teamHolder"><div class="teamPage majorSection">

    <h2>Meet the TidePool Team</h2>
    <p>
        <div class="coolPerson"><i class="avatar huge"><img src="images/people/galen.jpg" alt="Photo of Team Member"/></i>
            <p>Galen<br/>Buckwalter</p>
        </div>
        <div class="coolPerson"><i class="avatar huge"><img src="images/people/vamsee.jpg" alt="Photo of Team Member"/></i>
            <p>Vamsee<br/>Nalamothu</p>
        </div>
        <div class="coolPerson"><i class="avatar huge"><img src="images/people/kerem.jpg" alt="Photo of Team Member"/></i>
            <p>Kerem<br/>Karatal</p>
        </div>
        <div class="coolPerson"><i class="avatar huge"><img src="images/people/miraj.jpg" alt="Photo of Team Member"/></i>
            <p>Miraj<br/>Sanghvi</p>
        </div>
        <div class="coolPerson"><i class="avatar huge"><img src="images/people/eric.jpg" alt="Photo of Team Member"/></i>
            <p>Eric<br/>Miller</p>
        </div>
        <div class="coolPerson"><i class="avatar huge"><img src="images/people/jenni.jpg" alt="Photo of Team Member"/></i>
            <p>Jenni<br/>Leder</p>
        </div>
        <div class="coolPerson"><i class="avatar huge"><img src="images/people/mayank.jpg" alt="Photo of Team Member"/></i>
            <p>Mayank<br/>Sanganeria</p>
        </div>
    </p>

    <hr>

    <h2>Our Awesome Investors</h2>
    <p>
    <div class="supercoolPerson"><i class="avatar large"><img src="images/people/md.jpg" alt="Photo of Investor"/></i>
        <p>Michael Dearing</p>
        <p class="muted">Harrison Metal</p>
    </div>
    <div class="supercoolPerson"><i class="avatar large"><img src="images/people/mike.jpg" alt="Photo of Investor"/></i>
        <p>Mike Hirshland</p>
        <p class="muted">Resolute.VC</p>
    </div>
    <div class="supercoolPerson"><i class="avatar large"><img src="images/people/tim.jpg" alt="Photo of Investor"/></i>
        <p>Tim Draper</p>
        <p class="muted">DFJ</p>
    </div>

    <br/>
    </p>

    <br/>

    <h3>And Support From</h3>

    <p class="supercoolPerson caps">
        Diego Berdakin,
        Dan Gould,
        Rich Rygg,
        Jeff Lipp,
        Jarl Mohn,<br/>
        Jim & Peggy Davis,
        Rak Tech Fund,
        and Amplify
    </p>

</div></div>