

<div class="hero">
    <h2>
        Awareness is<br/>
        the beginning<br/>
        of improvement.
    </h2>

    <!--<h1>Meet TidePool.</h1>-->

    <span class="shadowWarrior">
        <a href="#game" class="btn btn-large btn-primary">Get Started</a>
    </span>

</div>