

<h1>Personality Comparison</h1>

<div class="contents">
    <p class="textAlignCenter">
        <b class="holdPlease inline">
            <i class="icon-repeat icon-2x muted"></i>
        </b>
    </p>
    <br/>
    <p class="textAlignCenter">
        <span class="muted">Loading results for id: {{game_id}}</span>
    </p>
</div>

<div class="textAlignCenter">
    <div class="contentSelf chartHolder">
        <h2>Self-Reported Results</h2>
    </div>
    <div class="contentSocial chartHolder">
        <h2>Social Results</h2>
    </div>
</div>
