


<h2>Meet the TidePool Team</h2>
<p>
    <div class="coolPerson"><i class="avatar huge"><img src="images/people/galen.jpg" alt="Photo of Team Member"/></i>
        <p>Galen<br/>Buckwalter</p>
    </div>
    <div class="coolPerson"><i class="avatar huge"><img src="images/people/vamsee.jpg" alt="Photo of Team Member"/></i>
        <p>Vamsee<br/>Nalamothu</p>
    </div>
    <div class="coolPerson"><i class="avatar huge"><img src="images/people/kerem.jpg" alt="Photo of Team Member"/></i>
        <p>Kerem<br/>Karatal</p>
    </div>
    <div class="coolPerson"><i class="avatar huge"><img src="images/people/miraj.jpg" alt="Photo of Team Member"/></i>
        <p>Miraj<br/>Sanghvi</p>
    </div>
    <div class="coolPerson"><i class="avatar huge"><img src="images/people/eric.jpg" alt="Photo of Team Member"/></i>
        <p>Eric<br/>Miller</p>
    </div>
    <div class="coolPerson"><i class="avatar huge"><img src="images/people/jenni.jpg" alt="Photo of Team Member"/></i>
        <p>Jenni<br/>Leder</p>
    </div>
</p>

<hr>

<h2>Our Awesome Investors</h2>
<p>
    <div class="supercoolPerson"><i class="avatar large"><img src="images/people/md.jpg" alt="Photo of Investor"/></i>
        <p>Michael Dearing</p>
        <p class="muted">Harrison Metal</p>
    </div>
    <div class="supercoolPerson"><i class="avatar large"><img src="images/people/mike.jpg" alt="Photo of Investor"/></i>
        <p>Mike Hirshland</p>
        <p class="muted">Resolute.VC</p>
    </div>
    <div class="supercoolPerson"><i class="avatar large"><img src="images/people/tim.jpg" alt="Photo of Investor"/></i>
        <p>Tim Draper</p>
        <p class="muted">DFJ</p>
    </div>

    <br/>
</p>

<br/>

<h3>And Support From</h3>

<p class="supercoolPerson caps">
    Diego Berdakin,
    Dan Gould,
    Rich Rygg,
    Jeff Lipp,
    Jarl Mohn,<br/>
    Jim & Peggy Davis,
    Rak Tech Fund,
    and Amplify
</p>


