<div id="content" class="container">
  <div class="row">
    <div class="span6 offset3 results">
      <h3>Thank you for participating!</h3>
      <p>Your results will help us fine tune our algorithms.</p>
      <p>Please this id, when you are asked to enter it:<p>
      <p><b class="hero-unit">{{assessment_id}}</b></p>
    </div>
  </div>
</div>