<div id="content" class="container">
  <div class="row">
    <div class="span6 offset3 results">
      <h3>You are</h3>
      <div class="type-icon"><img src="@@buildDir/images/badges/{{result.logo_url}}" alt="{{result.name}}"></div>
      <h3>{{result.name}}</h3>
      <p>{{result.one_liner}}</p>
      <button id="go_dashboard" class="btn btn-primary btn-large btn-orange">Continue</button>
    </div>
  </div>
</div>