@import '../../styles/_appVars.sass'
@import '../../styles/_colorVars.sass'
@import '../../styles/_helpers.sass'


.gameLayout .content
  margin: 0 auto
  max-width: $maxSiteWidth

@media all and (min-width: 321px)
  .gameLayout .content
    padding: $spaceLil 0
@media all and (min-width: 601px)
  .gameLayout .content
    padding: $space 0
@media all and (min-width: 1001px)
  .gameLayout .content
    padding: $spaceBig 0
