@import '../../styles/appVars'



header
  //position: fixed
  //top: 0
  //left: 0
  //width: 100%
  background: white
  font-size: 0 // to get rid of spaces between inline-block elements

  .inner
    max-width: $maxSiteWidth
    margin: 0 auto
    padding: 0
    height: $headerHeight
    line-height: $headerHeight
    box-sizing: border-box

// Sizing changes based on screen width
@media all and (min-width: 601px)
  header .inner
    padding: 0 $spaceLil
