@import '../../styles/appVars'


body
  padding: 0
  margin: 0


header
  //position: fixed
  //top: 0
  //left: 0
  //width: 100%
  background: white
  font-size: 0 // to get rid of spaces between inline-block elements

  .inner
    max-width: $maxSiteWidth
    margin: 0 auto
    padding: 0
    height: $headerHeight
    line-height: $headerHeight
    box-sizing: border-box

