<div class="row-fluid">
  <div class="span12">
    <canvas id="big5Chart" width="400" height="400">
    </canvas>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <canvas id="holland6Chart" width="400" height="400">
    </canvas>
  </div>
</div>
