<div>
  <div class="span10">
    <div class="row-fluid">
      <div class="span5">
        <span class="yourResult">Your Result:</span><b>{{name}}</b>
        {{view "long_description" context=result}}
      </div>
      <div class="span5">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</div>