<div class="row-fluid">
  <div class="span12">
    <span class="yourResult">Your Result:</span>
    <h3>{{name}}</h3>
    <blockquote> {{one_liner}}</blockquote>
    {{#each description }}
      <p>{{this}}</p>
    {{/each}}
    Tidbits:
    <ul>
    {{#each bullet_description}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
  </div>
</div>
