@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon'
@import '../../../styles/appVars'
@import '../../../styles/colorVars'
@import '../../../styles/helpers'


.interestPicker .bait
  $size: $spaceBig
  position: relative
  display: inline-block
  min-height: $size
  min-width: $size
  line-height: $size
  border-radius: $radiusSmall
  padding: 0 $spaceTiny
  cursor: pointer
  text-align: center
  font-size: $size * .3
  //text-transform: uppercase
  font-weight: bold
  &.symbol i
    font-size: $size * .8
    line-height: $size
  +tabletAndUp
    $size: $spaceBig * 2
    min-height: $size
    min-width: $size
    line-height: $size
    padding: 0 $spaceLil
    font-size: $size * .3
    &.symbol i
      font-size: $size * .8
      line-height: $size

  // ----------------------------------------- Symbols
  &.symbol i
    vertical-align: middle


  // ----------------------------------------- Words
  &.word
    white-space: nowrap


  // ----------------------------------------- Interaction
.interestPicker .bait:hover
  color: $colorForegroundCool
  background: tint($colorForegroundCool, 80%)
  z-index: 1
.interestPicker .menu .bait:hover
  color: white
  background: tint($colorForegroundCool, 10%)


// ----------------------------------------- Buffet Carosel Animation
.menu .bait
  position: absolute
  //margin-left: -200px
  left: -20%
  text-shadow: $spaceTiny 0 1px $colorForegroundCool, -$spaceTiny 0 1px $colorForegroundCool, 0 $spaceTiny 1px $colorForegroundCool, 0 -$spaceTiny 1px $colorForegroundCool
  +transition( left 12s linear, margin 12s linear, color .2s, background .2s )
  &.sliding
    //margin-left: 0
    left: 105%
  &.sliding.picked
    left: 19999px


  // ----------------------------------------- Gentle Constant Animation
  // All this nth-child stuff pseduo randomizes the animation effect
  @include animation(rockTheBoat 6s 0     linear infinite)
.menu .bait:nth-child(2n)
  @include animation(rockTheBoat 6s .25s  linear infinite)
  //background: lawngreen
.menu .bait:nth-child(3n)
  @include animation(rockTheBoat 5.5s .5s linear infinite)
  //background: peru
.menu .bait:nth-child(5n)
  @include animation(rockTheBoat 6.5s 1s  linear infinite)
  //background: lavender


  // ----------------------------------------- Naughty (no more of that pick allowed)
.interestPicker .menu .bait.naughty
  left: 105%
  @include animation(saltShaker .15s linear 3) // Shake it like a salt shaker


+keyframes(rockTheBoat)
  0%, 100%
    +transform( rotateZ(0) translateY(0) )
  25%
    +transform( rotateZ(-5deg) )
  50%
    +transform( rotateZ(0) translateY(-5px) )
  75%
    +transform( rotateZ(3deg) )

//+keyframes(surfinUSA)
//  0%, 100%
//    +transform( translateY(0) )
//  50%
//    +transform( translateY(-3px) )

+keyframes(saltShaker)
  0%, 100%
    +transform( translateX(0) )
  25%
    +transform( translateX(10px) )
  75%
    +transform( translateX(-10px) )


// ----------------------------------------- 'Picked' Bait
.bentoBox .bait
  $size: $spaceBig * .75
  min-height: $size
  min-width: $size
  line-height: $size
  font-size: $size * .4
  &.word
    min-height:  $size * .75
    line-height: $size * .75
    padding: 0 $spaceTiny
  &.symbol i
    font-size:   $size * .8
    line-height: $size
    padding: 0 $spaceTiny

  +tabletAndUp
    $size: $spaceBig * 1.25
    min-height: $size
    min-width: $size
    line-height: $size
    font-size: $size * .4
    padding: 0 $spaceTiny
    &.word
      display: block
      min-height:  $size * .75
      line-height: $size * .75
      margin: 0
    &.symbol i
      font-size:   $size * .8
      line-height: $size
      padding: 0 $spaceTiny
