



<div class="menu">
    <h2>Pick 3 Words and 7 Symbols</h2>
    <p>Pick things that represent what you're interested in</p>
    <div class="content">
        <div class="row one"></div>
        <div class="row two"></div>
        <div class="row three"></div>
        <div class="row four"></div>
    </div>
</div>

<div class="bentoBox">
    <h2>Your Picks</h2>
    <p>&nbsp;</p>
    <div class="content">
        <h3 id="SymbolCount"></h3>
        <div class="symbols"></div>
        <h3 id="WordCount"></h3>
        <div class="words"></div>
    </div>
</div>


