

<div class="bentoBox">
    <h2>Your Picks</h2>
    <p>&nbsp;</p>
    <div class="content"></div>
</div>

<div class="menu">
    <h2>Pick 3 Words and 7 Symbols</h2>
    <p>Pick things that represent what you're interested in</p>
    <div class="content"></div>
</div>


