
<h1>Congratulations!</h1>
<h3>You have completed the game.</h3>
<p id="StatusMessage" class="muted">
    Calculating Results...
</p>

<b class="holdPlease inline">
    <i class="icon-repeat icon-4x"></i>
</b>

