<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span7">
      <h1>Awareness is the beginning of improvement</h1>
    </div>
    <div class="span2">
      <a href="#assessment/1" class="btn btn-large btn-success">Get Started</a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span5">
      <img src="/images/landing_page/left.jpeg"/>
    </div>
    <div class="span5">
      <img src="/images/landing_page/right.jpeg"/>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span1">
      <img src="/images/landing_page/diego.jpg"/>
    </div>
    <div class="span4">
      <blockquote>
        <p>
          “One of the most exiting ideas I've seen in a while!”
        </p>
        <small>
          Diego Berdakin
        </small>
      </blockquote>
    </div>
    <div class="span1">
      <img src="/images/landing_page/heather.jpg"/>
    </div>
    <div class="span4">
      <blockquote>
        <p>
          “TidePool has such a smart team tackling a really interesting market. This team is on the money.”
        </p>
        <small>
          Heather Gilchrist
        </small>
      </blockquote>
    </div>
  </div>
</div>