@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon'
@import '../../../styles/appVars'
@import '../../../styles/colorVars'
@import '../../../styles/helpers'


.proximityTakesTurns .circle
  $size: $space * 3
  position: absolute !important // Prevents JQ Draggable from putting pos: relative on them and making them behave oddly
  cursor: pointer
  box-shadow: 0 0 0 $spaceTiny $colorBackground
  background: mix($colorBackground, $colorBrand1, 75%)
  text-align: center
  +transitionable(background-color, .2s, ease-out)

  &:hover, &:focus
    background: mix($colorBackground, $colorBrand1, 50%)
  &.fresh // untouched
    bottom: $spaceBig + $spaceLil
    //background: $colorBrand1
    +phone
      bottom: 30px + $spaceLil
    right: -$size + $spaceLil // Only peek out a few px
    +transitionable(right, .2s, ease-out)
  &.onDeck // ready to drag in
    right: 50%
    margin-right: -$size/2
  &.focus
    background: $colorBrand1


  // ------------------------------------- Introduction Animation
  .introduction
    display: none
    position: absolute
    $circleSize: 75px
    $width: 100px
    width: $width
    height: 0
    left: 50%
    margin-left: -$width/2
    bottom: $circleSize
    overflow: hidden
    opacity: 0
    //+bg(pink)
    color: $colorBrand1
    font-size: 50px
  &.onDeck .introduction
    display: block
    +animation( fadeUp 4s infinite .5s )


  // Scale for Draggable circles
  // This has to be managed differently because JqDraggable can't read sizes on transformed elements
  =circleSize( $scale: 1.0 )
    +transform(none)
    font-size: $fontSizeVeryLarge * $scale
    width: $size * $scale
    height: $size * $scale
    line-height: $size * $scale
    em
      font-size: ( $fontSizeVeryLarge + $spaceLil ) * $scale

  +circleSize(1.0)
  //.circle.size1
  //  +circleSize(0.4)
  //.circle.size2
  //  +circleSize(0.7)
  //.circle.size3
  //  +circleSize(1.0)
  //.circle.size4
  //  +circleSize(1.3)
  //.circle.size5
  //  +circleSize(1.6)


  &.plop
    +animation( plop .5s )


+keyframes(plop)
  0%, 100%
    +transform( scale(1) )
    box-shadow: 0 0 0 $spaceTiny $colorBackground
  10%
    +transform( scale(1.05) )
  20%, 80%
    +transform( scale(1) )
    box-shadow: 0 0 0 $spaceTiny $colorBackground, 0 0 0 $spaceTiny + $space*1 transparentize($colorBrand1, .8)
    background: $colorBrand1
  30%, 60%
    box-shadow: 0 0 0 $spaceTiny $colorBackground, 0 0 0 $spaceTiny + $space*1 transparentize($colorBrand1, .8), 0 0 0 $spaceTiny + $space*2 transparentize($colorBrand1, .9)


+keyframes(fadeUp)
  0%
    opacity: .01
    height: 0
    margin-bottom: -50px
  10%, 90%
    margin-bottom: 0
    height: 75px
  20%, 85%
    opacity: 1
  50%
    height: 75px
  11%, 29%, 49%, 69%, 89%
    +transform( translateY(-$spaceLil) )
  21%, 41%, 61%, 81%
    +transform( translateY(0) )


