@import '../../../styles/appVars'
@import '../../../styles/colorVars'
@import '../../../styles/helpers'



.widget.lister
  font-size: $fontSizeBody

  ul
    margin-left: $space
    @media all and (min-width: 1050px)
      margin-left: $spaceLil
  li
    padding: $spaceTiny 0
    margin-bottom: $spaceLil
    font-weight: bold


.coolTones .widget.lister
  li, i
    color: $colorForegroundCool


