{{#if title}}
    <div class="modal-header">
        {{#unless mustUseButton}}
            <button type="button" class="close" data-dismiss="modal">×</button>
        {{/unless}}
        <h2>{{title}}</h2>
    </div>
{{/if}}

<div class="modal-body" id="PerchBody">
    {{{content}}}

    {{#if btn1Text}}
        <button id="PerchBtn1" class="btn {{btn1ClassName}}">{{btn1Text}}</button>
    {{/if}}
</div>