
<p>
    Click the red circle only when it appears AFTER a yellow circle.
</p>
<p class="textAlignCenter">
    <img src="images/game/instructions/reaction_time_disc_b.jpg" alt="Hand pressing a red disc"/>
</p>
