
<p>
    Click on the circle as soon as it turns red.
</p>
<p class="textAlignCenter">
    <img src="@@buildDir/images/game/instructions/reaction_time_disc_a.jpg" alt="Hand pressing a red disc"/>
</p>
