
<div class="widget featured pressable">
    <h3>Daily Recomendations</h3>
    <br/>
    <p>Today's recommendation has been specifically selected for your personality type!</p>
    <i class="icon icon-bulb-circle"></i>
</div>


