
<p>
    Next place each of the circles in position to the new circle representing you.
</p>
<p>
    Place each trait anywhere on the screen so that it best represents how important that trait is to you.
</p>
