

<nav class="dashPicker">
    <ul>
        <li><a class="all" href="#dashboard">
            <i class="icon-dashboard"></i>
            <label>All</label>
        </a></li>
        <li><a class="career" href="#dashboard-career">
            <i class="icon-briefcase"></i>
            <label>Career</label>
        </a></li>
    </ul>
</nav>





