@import '../styles/appVars'
@import '../styles/colorVars'
@import '../styles/helpers'



.dashPicker
  background: $shade
  margin: $spaceLil 0
  +phone
    margin-top: 0
  line-height: 1

  ul
    max-width: $maxSiteWidth
    margin: 0 auto
    text-align: center

  ul, li
    list-style: none
    padding: 0

  li
    display: inline-block

  a
    display: block
    text-align: center
    padding: $spaceLil*2 $space
    min-width: $spaceBig * 2
    +phone
      padding: $spaceLil
      padding-top: $spaceTiny
      min-width: 0
    color: white
  a:hover
    text-decoration: none
    background: $highlightThin

  a i
    display: inline-block
    font-size: $space
    width: $space
    margin-bottom: $spaceTiny
    +phone
      font-size: $spaceLil * 2
      width: $spaceLil * 2

  a label
    font-size: $fontSizeBody
    text-transform: uppercase
    margin: 0
    margin-bottom: -$spaceTiny
    +phone
      font-size: $fontSizeTiny



.route-dashboard .all,
.route-dashboard .summary,
.route-dashboard-productivity .productivity,
.route-dashboard-mood .mood,
.route-dashboard-personality .personality
  color: $colorBrand1
  background: $highlightThin
  cursor: default


