

<div class="widget">
    <h3>Career Recommendations</h3>


    <p class="intro">
        <i class="icon-briefcase"></i>
        These are some careers best suited for your personality type.
    </p>

    <hr>

    <p class="large recommendation">
        Computer and Information Research Scientist, Cheif Executive, Systems Admin, Biomedical Engineer, Pilot
    </p>

</div>


