

<div class="holder">
    <div class="widget">
        <b class="dogEar"></b>
        <p>
            Buy your detailed personality report.
        </p>
        <button id="ActionBuyNow" class="btn btn-primary">Buy Now</button>
    </div>
</div>

