<div class="holder">
    <div class="widget empty">
        <p>
            Take this test to find out more about your career.
        </p>
            <span class="icon-stack">
                <i class="icon-circle-blank icon-stack-base"></i>
                <i class="icon-plus"></i>
            </span>
    </div>
</div>