
<div class="holder coolTones">
    <div class="widget">
        <h3>Today's Task!</h3>


        <p class="intro textAlignCenter">
            <i class="bottomIcon icon-briefcase"></i>
            Discover Your Career Path
        </p>

        <hr>

        <p class="large recommendation">
            Find out what careers are best suited for your personality type!
        </p>

    </div>
</div>

