@import '../styles/appVars'
@import '../styles/colorVars'
@import '../styles/helpers'






.widgetMaster .coreResults
  .widget
    padding-top: $space


  .personalityBadge
    float: left
    margin-right: $spaceLil

  ul
    margin-top: $space
    margin-bottom: $space
  ul li
    font-size: $fontSizeLarge
    margin: $spaceLil 0
    line-height: 1.3


