
<div class="holder">
    <div class="widget feature">
        <h3>Daily Recomendations</h3>
        <p>Today's recommendation has been specifically selected for your personality type!</p>
        <i class="icon icon-bulb-circle"></i>
    </div>
</div>

