
<div class="widget">
    <img class="personalityBadge" src="/images/badges/{{logo_url}}" alt="{{name}}">
    <h3 class="hero">
        {{one_liner}}
    </h3>
    <ul>
        {{#each bullet_description}}
            <li>{{ this }}</li>
        {{/each}}
    </ul>
</div>


