
<p class="bling">
    You will be guided with daily tasks based on your preferences and your personality. We recommend that you start with these games.
</p>

<div class="games">
    <p><a class="btn btn-link" href="#game/emotions">The Emotions Game</a></p>
    <p><a class="btn btn-link" href="#game/reaction_time">The Reaction Time Game</a></p>
</div>

