<div class="progressbar">
  {{#each progressBarStages}}
    <% firstOrLast = "" %>
    <% firstOrLast = "first" if i is 0 %>
    <% firstOrLast = "last" if i is @numOfStages - 1 %>
    <div id="progress_stage<{{index}}" class="section {{firstOrLast}}" style="width:{{width}}%;"> </div>
  {{/end}}
</div>