

<ul id="DropTargets" class="targets">
    <label>Best</label>
    <label>&nbsp;</label>
    <label>&nbsp;</label>
    <label>&nbsp;</label>
    <label>Worst</label>

</ul>

<ul id="RankableImages" class="images"></ul>


