

<p class="instructions large textAlignCenter">
    Collect the items that define you.
</p>

<div class="menu">
    <div class="content">
        {{#each rows}}
            <div class="row row{{this}}" style="height:{{../rowHeight}}"></div>
        {{/each}}
    </div>
    <div id="CountSeen" class="counter"></div>
</div>

<div class="bentoBox">

    <h3 class="symbols title">
        <span class="remaining" id="SymbolCount">
            <span class="hideDesktop"><output>&nbsp;</output></span>
        </span>
        <span class="name">Symbols</span>
    </h3>
    <div class="symbols content">
        <div id="SymbolCountdown" class="countdown">
        </div>
    </div>

    <i class="groovy gfx-align-justify"></i>

    <h3 class="words title">
        <span class="remaining" id="WordCount">
            <span class="hideDesktop"><output>&nbsp;</output></span>
        </span>
        <span class="name">Words</span>
    </h3>
    <div class="words content">
        <div id="WordCountdown" class="countdown">
        </div>
    </div>

</div>


